.container-main{
  display: flex;
  flex-direction: column;
  flex: 5 1 auto;
  justify-content: space-around;
  margin: 1rem;
  line-height: 2;
}
.text{
  color:darkgrey;
  font-size: 0.75rem;
  flex: 1 1 auto;
}
.text__transition{
  padding-top:1rem;
  flex:3 1 auto;
}
.mainText{
  font-size: 1.25rem;
  margin-top: 1rem;
  flex: 1 1 auto;
}
.translationBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;

}
.selfSelection{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex:1 1 auto;
}
.checkMark{
  display: flex;
  flex-direction: column-reverse;
}
.container-main__button{
  display: flex;
  flex-direction: column;
  justify-items:center;
  flex: 12 1 auto; /*grow shrink bases */
  margin-left: 30%;
}
.space{
  flex: 1 1 auto;
}