$background-color: white;

.container {
    padding: 20px;;
  width: 50vh;
  height: 80vh;
  border: 1px solid black;
  background-color: $background-color;
  margin: 30px auto;
}
hr{
    color: rgb(109, 106, 106);
}

.img_scroll{
    padding: 20px;
    height: 200px;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    flex-direction: column;
    white-space: nowrap;
    // -webkit-overflow-scrolling: touch;
    direction: ltr;
}
.img_scroll::-webkit-scrollbar {
    display: none;
  }
.btn{
    padding: 10px;
    margin: 10px;
    width: 70px;
    height: 40px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px blue;
    
    background-color: rgb(67, 67, 247);
}
.foter{
    display: flex;
}
.Perivious{
    width: 50%;
    cursor: pointer;
}
.Next{
    margin-left: 175px;
    cursor: pointer;
}