.container-nav{
  flex:1 1 auto;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.dropdown{
  flex:5 1 auto;
  //background-color: blueviolet;
  align-content: center;
}
.threeDotsVertical{
  flex:1 1 auto;
  margin-top: 0.5rem;
  //background-color: palevioletred;
}

//.navDropdown{
//
//  color: gray;
//}
.nav-link ,.nav-link :focus{
  color: #212529;
  width: 80vw;
}