.category {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: left;
  flex-basis: 31.5%;
  border-radius: 6px;
  overflow: hidden;
  margin: 4px;
  width: 140px;
  height: 120px;
  background-size: cover;
}

.category-title {
  padding: 5px;
  font-weight: bold;
  color: rgb(240, 240, 240);
}
