.photoGrapher{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -0.6rem;
  gap: 2px;
} 
.photoGrapher a{
  text-decoration: none;
  color:  rgb(73, 52, 235);

}
.image{
  width: 100%;
  height: 100%;
}