@import "../sentiment/Sentiment.scss";
.header {
  width: 100%;
  height: 10%;
  position: relative;
  //   background-color: red;

  button {
    height: 1.5rem;
    width: 1.6rem;
    background-color: $background-color;
    border: none;
  }
  #menu {
    background-image: url("../../assest/menu.png");
    background-size: cover;
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
  }
  #back {
    background-image: url("../../assest/gray-left.png");
    background-size: cover;
    position: absolute;
    left: 0.5rem;
    top: 0.8rem;
  }
}
