.Header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 9rem;
    &__Back {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.3rem;
      }
  }

