.title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  margin: 0 0.75rem 1.5rem 0;
  width: 11.875rem;
  height: 1rem;
  font-family: IRANYekanWeb;
  font-size: 0.85rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: right;
  color: #555;
  direction: rtl;
}