.padding-icon {
  padding: 5px;
}

.margin-icon {
  margin: 5px;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 87%;
}
.question-container {
  width: 100%;
  top: 0;
  margin-bottom: 2rem;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.img-display {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.image-copy-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
}

.yes-no-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-1 {
  background-color: rgb(85, 61, 220);
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
  margin-top: 0.3rem;
  border: none;
  cursor: pointer;
  color: white;
}
.padding-top {
  padding-top: 1.4rem;
}

.line {
  margin: 10px 0 10px 0;
  height: 0;
  border-top: 1px rgba(158, 157, 157, 0.5) solid;
}

.disabled-item {
  pointer-events: none;
  cursor: default;
  color: rgb(207, 206, 206);
}

.disabled-btn {
  pointer-events: none;
  cursor: default;
  background-color: rgb(207, 206, 206);
  width: 10rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  font-weight: bold;
  border: none;
  margin-top: 0.3rem;
}
