.Container-translation
{
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  margin: auto;
}

